
<div style="margin-top: 60px">


    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/seaCar.jpg" height="620" width="400" class="d-block w-100" alt="...">
            <div class="carousel-caption text-right">
                <h2>SUA VIAGEM COM SEGURANÇA</h2>
                <h4>Na Loccar você faz sua viagem de forma segura!</h4>
                <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/travelCar.jpg" height="620" width="400" class="d-block w-100" alt="...">
            <div class="carousel-caption text-left">
                <h2>RÁPIDO E PRÁTICO</h2>
                <h4>Alugue seu carro com praticidade!</h4>
                <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/bluecar.jpg" height="640" width="400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>NA HORA CERTA</h2>
              <h5>Com a Loccar você não chega atrasado!</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próxima</span>
        </button>
      </div>
      <div class="container">
    <p></p>
    <p></p>
    <h2 class="text-center">LOCCAR - O lugar certo para alugar seu carro!</h2>
    <p></p>
    <p></p>
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">
              <strong class="d-inline-block mb-2 text-primary">DICAS</strong>
              <h4 class="mb-0">Viagem de Férias</h4>
              <div class="mb-1 text-muted">Novembro 2021</div>
              <p class="card-text mb-auto">Dicas de viagem para as férias? Temos destinos perfeitos para curtir as férias!</p>
              <a href="#" class="stretched-link">Leia mais</a>
            </div>
            <div class="col d-lg" style="height: 215px;">
                <img src="../../assets/seaCar.jpg" style="width: 100%; height: 100% ;" alt="">

            </div>
          </div>
        </div>
        <div class="col-md-6" >
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">
              <strong class="d-inline-block mb-2 text-primary">INOVAÇÃO</strong>
              <h3 class="mb-0">Carro elétrico</h3>
              <div class="mb-1 text-muted">Novembro 2021</div>
              <p class="mb-auto">Os benefícios do carro elétrico vão muito além do que você imagina!</p>
              <a href="#" class="stretched-link">Leia mais</a>
            </div>
            <div class="col d-lg">
             <!--  <svg class="bd-placeholder-img" width="200" height="250" src="../../assets/seaCar.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></svg> -->

             <img src="../../assets/eletricCar.jpg" style="width: 100%; height: 100% ;" alt="">

            </div>
          </div>
        </div>
      </div>
    </div>

        <div class="container marketing">
            <div class="row">
              <div class="col-lg-4">


                <h5>Nossa História</h5>
                <p>Somos uma empresa líder na locação de veículos!</p>
                <p><a class="btn btn-primary" href="#">Saiba Mais</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">


                <h5>Missão - Visão - Valores </h5>
                <p>Servimos cada cliente de forma única e surpreendendo as expectativas!</p>
                <p><a class="btn btn-primary" href="#">Saiba Mais</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">


                <h5>Gestão de Pessoas</h5>
                <p>Acesse aqui assuntos para contribuir para o seu crescimento!</p>
                <p><a class="btn btn-primary" href="#">Saiba Mais</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">

            </div><!-- /.row -->
    <p></p>
            <footer class="container">
                <p class="float-right"><a href="#">Volte ao topo</a></p>
                <p>&copy; 2021 Loccar Ltda <a href="#">Privacidade</a> &middot; <a href="#">Termo de uso</a></p>
              </footer>


  </div>

</div>
