#footer	{

    margin: 0px auto 0px auto;
    padding: 0px 0 0 0;
    text-align: center;
    position: static;
    width: 100%;

    }
.fixed { position: fixed; }
.static { position: static; }
#footer-left	{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 11px;
    padding: 10px 0 10px 0px;
    border-top: 5px solid #188eb3;
    border-bottom: 1px solid #dbdbdb;
    background: #646d6e;
    height: 12px;

}
